---
layout: default_wide_close
title: 组卡器
permalink: /decks/
---

<link rel="stylesheet" href="/public/css/builder.css">
<link rel="stylesheet" href="/public/css/card-query.css">
<link rel="stylesheet" href="/public/css/card-preview.css">
<link rel="stylesheet" href="/public/css/deck-builder.css">

<div class="builder-cards">
  <div class="uw-filter-area" id="uw-filter-area">
    <div class="content">
      <div class="filter-block search-block">
        <label>搜索内容：</label>
        <span><input id="uw-search" /></span>
      </div>

      <div class="filter-block type">
        <label>类&emsp;&emsp;别：</label>
        <span class="buttons">
          <button id="filter-type-button-0" class="btn active" onclick="typeSelect('任意')">任意</button>
          {% for s in site.data.meta.typeb %}
          <button id="filter-type-button-{{ forloop.index }}" class="btn" onclick="typeSelect('{{ s }}')">{{ s
            }}</button>
          {% endfor %}
        </span>
      </div>

      <div class="filter-block cost">
        <label>费&emsp;&emsp;用：</label>
        <span class="buttons">
          <button id="filter-cost-button--1" class="btn active"
            style="background-image: url('/public/image/costs/cost-x.png');" onclick="costSelect('-1')"></button>
          {% for i in (0..7) %}
          <button id="filter-cost-button-{{ i }}" class="btn"
            style="background-image: url('/public/image/costs/cost-{{ i }}.png');" onclick="costSelect('{{ i }}')">
          </button>
          {% endfor %}
        </span>
      </div>

      <div class="filter-block color">
        <label>颜&emsp;&emsp;色：</label>
        <span class="buttons">
          <button id="filter-color-button-0" class="btn active"
            style="background-image: url('/public/image/colors/任意色.png');" onclick="colorSelect('任意色')"></button>
          {% for color in site.data.meta.colors %}
          <button id="filter-color-button-{{ forloop.index }}" class="btn"
            style="background-image: url('/public/image/colors/{{ color }}.png');" onclick="colorSelect('{{ color }}')">
          </button>
          {% endfor %}
        </span>
      </div>

      <div class="filter-block card-set">
        <label>版&emsp;&emsp;本：</label>
        <span class="buttons">
          <button id="filter-set-button-0" class="btn active" onclick="setSelect('Any')">Any</button>
          {% for s in site.data.meta.sets %}
          <button id="filter-set-button-{{ forloop.index }}" class="btn" onclick="setSelect('{{ s }}')">{{ s }}</button>
          {% endfor %}
        </span>
      </div>

      <div class="filter-block magic">
        <label>魔法领域：</label>
        <span class="buttons">
          <button id="filter-magic-button-0" class="btn active"
            style="background-image: url('/public/image/magics/魔法.png');" onclick="magicSelect('任意魔法')"> </button>
          {% for s in site.data.meta.magic %}
          <button id="filter-magic-button-{{ forloop.index }}" class="btn"
            style="background-image: url('/public/image/magics/{{ s }}.png');" onclick="magicSelect('{{ s }}')">
          </button>
          {% endfor %}
          <button id="filter-magic-button-6" class="btn" style="background-image: url('/public/image/magics/无魔法.png');"
            onclick="magicSelect('无魔法')"> </button>
        </span>
      </div>


      <div class="filter-button">
        <button onclick="filterCards()">筛选</button>
      </div>

    </div>
  </div>

  <br>

  <div class="underworld-cards-query" id="underworld-cards-query">
    <div class="ucq-opts">
      <p id="ucq-count">共查询到张牌。</p>
      <div class="checkbox-example">
        <input type="checkbox" id="opt-kws" name="opt-kws" checked>
        <label for="opt-kws">显示关键词解释</label>
      </div>
      <div class="checkbox-example">
        <input type="checkbox" id="opt-token" name="opt-token" checked>
        <label for="opt-kws">显示衍生物和指示物</label>
      </div>
    </div>
    <ul id="ucq-cards"></ul>
    <p id="ucq-show" onclick="showMoreCards()">点击查看更多</p>
  </div>

  <div id="card-preview" class="dark-background">
    <div class="info-block" id="cp-info-block">
      <div class="card" id="cp-card"> </div>
      <div class="info" id="cp-info" card-name="CARD-NAME">
        <div class="name">6s的孤电子</div>
        <div class="setname"> 星光俱乐部 | XG000 </div>
        <div class="type"> 中立角色 - 人类 / 工程师 / 光头症患者 </div>
        <div class="attr"> 费用：12 心灵</div>
        <div class="attr">
          防御：3&nbsp;&nbsp;
          能力：IIIiii&nbsp;&nbsp;
        </div>
        <div class="attr">
        </div>
        <textarea class="text" readonly>
  额外费用：从你的牌库中查找每个颜色的一张所需费用小于2的角色牌，每个以此法展示的牌，打出或翻面6s的孤电子所需的费用减少1。
  现身触发：抽取这些牌。
        </textarea>
      </div>
    </div>
  </div>

</div>

<div class="builder-deck">
  <div class="bd-title">
    <input id="bd-title-input" value="点此修改卡组名" />
  </div>

  <div class="bd-author">
    <input id="bd-author-input" value="点此修改作者" />
  </div>

  <div id="bd-society" class="bd-card" onclick="filterSocieties()">
    <span class="bdc-color"> </span>
    <span class="bdc-hand number-attr"> 0 </span>
    <span class="bdc-name"> <i>加入一张秘社</i> </span>
  </div>

  <ul id="bd-card-list">
  </ul>

  <div id="bdc-count">卡组共 0 张牌。</div>

  <div class="bottom-tools">
    <div class="deck-ie">
      <button class="deck-ie-button" id="deck-import" onclick="importDeck()">导入卡组</button>
      <button class="deck-ie-button" id="deck-export" onclick="exportDeck()">导出卡组</button>
      <button class="error-icon" id="error-icon" data-hover="你需要在卡组中加入一张秘社牌。"> </button>
    </div>

    <div class="deck-ie-mobile">
      <button class="upload-icon" id="deck-import-mobile" onclick="importDeck()"> </button>
      <button class="download-icon" id="deck-export-mobile" onclick="exportDeck()"> </button>
      <button class="error-icon" id="error-icon-mobile" data-hover="你需要在卡组中加入一张秘社牌。"> </button>
    </div>

    <span style="font-style: italic;">拖拽来调整卡牌显示顺序：</span>
    <div class="card-sort-indices" id="card-sort-indecies">
      <div class="item" data-id="color">颜色</div>
      <div class="item" data-id="cost">费用</div>
      <div class="item" data-id="typeb">类别</div>
      <div class="item" data-id="id">编号</div>
    </div>
  </div>
</div>

<div id="message-box" style="display: none;"> </div>

<div id="dialog-bg" class="dark-background">
  <div id="import-dialog" class="dialog tabcontent">
    <textarea id="code-input"></textarea>
    <button onclick="impDeckCode()">导入卡组</button>
  </div>
  <div id="export-dialog" class="dialog">
    <div class="tab">
      <button class="tablinks" onclick="showTab(event, 'dou')">DOU格式</button>
      <button class="tablinks" onclick="showTab(event, 'cod')">COD格式</button>
      <button class="tablinks" onclick="showTab(event, 'base64')">Base64格式（小程序）</button>
    </div>

    <div id="comment" class="tabcontent">
      <div class="dialog-cmt">
        <h3>导出卡组说明</h3>

        <div>DOU格式（推荐）：为本站使用的通用格式（为YAML格式），阅读较为清晰。</div>
        <div>COD格式：Cockatrice平台（鸡蛇平台、隐秘世界线上平台）卡组格式。</div>
        <div>Base64格式：精简不刷屏，谁都看不懂。</div>
        <br>
        <div>以上卡组格式均支持导入到本站。</div>

      </div>
    </div>

    <div id="dou" class="tabcontent" style="display: none;">
      <pre class="cb"><code id="dou-codeblock" class="hljs yaml"> 导出DOU卡组时出错 </code></pre>
      <button onclick="copyDeckCode(event, 'dou')">复制到剪切板</button>
    </div>

    <div id="cod" class="tabcontent" style="display: none;">
      <pre class="cb"><code id="cod-codeblock" class="hljs xml"> 导出COD卡组时出错 </code></pre>
      <button onclick="copyDeckCode(event, 'cod')">复制到剪切板</button>
    </div>

    <div id="base64" class="tabcontent" style="display: none;">
      <pre class="cb"><code id="base64-codeblock"> 导出Base64卡组时出错 </code></pre>
      <button onclick="copyDeckCode(event, 'base64')">复制到剪切板</button>
    </div>
  </div>

</div>

<script src="/public/js/deck-build.js"></script>